.message {
    padding: 1em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
    padding: 1em;
}

.items {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 2px solid var(--background-colro);
    background-color: red;
    outline: 2px solid red;
}

.blue {
    background-color: #00b3ff;
    outline-color: #00b3ff;
}
.pink {
    background-color: #ff0084;
    outline-color: #ff0084;
}
.orange {
    background-color: #ff9d00;
    outline-color: #ff9d00;
}
.purple {
    background-color: #9000ff;
    outline-color: #9000ff;
}
.green {
    background-color: #0cd112;
    outline-color: #0cd112;
}
