.message {
    padding: 1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 1em 0;
    padding: 1em;
}

.items {
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    border: 3px solid var(--background-colro);
    background-color: var(--them-color);
    outline: 3px solid var(--them-color);
    margin: 10px;
    display: inline-block;
}
