.container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-direction: column;
    z-index: 1;
    padding: 1em;
}

.container input {
    padding: 1em;
    border-radius: 10px;
}

.container button {
    background-color: var(--them-color);
    color: #fff;
    padding: 1em;
    border-radius: 10px;
}
