.addBtn {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--them-color);
    text-align: center;
    line-height: 1.4em;
    font-size: 2rem;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    bottom: 0.7em;
    right: 0.7em;
    z-index: 1;
}

.messageAndClear {
    padding: 0.4em 1.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.messageAndClear button {
    padding: 0.4em;
    border-radius: 10px;
}
