:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --text-color: #4a4a4a;
    --background-colro: #fafafa;
    --them-color: #00b3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    color: var(--text-color);
}

body {
    max-width: 1000px;
    margin: auto;
    background-color: var(--background-colro);
}

button,
input {
    background-color: var(--inp-color);
    border: 1px solid #e3e3e3;
}
input:focus {
    border-color: var(--them-color);
    color: var(--them-color);
}
input:focus::placeholder {
    color: var(--them-color);
}

@media (min-width: 700px) {
    button,
    .pointer {
        cursor: pointer;
    }
}
